<% if profile_land.land.images.attached? %>
<%= @page %>
  <% if is_index_page?(@page)%>
  <div class="col" id="<%= dom_id profile_land %>">
    <div class="card border-light shadow-sm mb-5 bg-body-tertiary rounded">
      
      <%= render "images_index", images: profile_land.land.images %>

      <div class="card-body">
        <p class="card-text">
          <strong class="text-pink"><%= profile_land.land.title_land %></strong> <br>
          <p class="text-description">
              <%= profile_land.land.description %>
          </p>
            <span class="bg-green px-3">Venda</span> <br>
            <%= profile_land.land.price %>
        </p>
<% debugger %>
      </div>
    </div>
  </div>
  <% end %>

<% end %>