<p style="color: green"><%= notice %></p>

<%= render @profile_land %>

<div>
  <%= link_to "Edit this profile land", edit_profile_land_path(@profile_land) %> |
  <%= link_to "Back to profile lands", profile_lands_path %>

  <%= button_to "Destroy this profile land", @profile_land, method: :delete %>
</div>
