<div id="<%= dom_id profile %>">
  <p>
    <strong>Name profile:</strong>
    <%= profile.name_profile %>
  </p>

  <p>
    <strong>Phone1:</strong>
    <%= profile.phone1 %>
  </p>

  <p>
    <strong>Phone2:</strong>
    <%= profile.phone2 %>
  </p>

  <p>
    <strong>Profile type:</strong>
    <%= profile.profile_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
