
 <div class="container col-lg-6 my-4">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
        <div class="card-title">

            <h4 class="text-center text-pink">Create Land Propriety</h4>
        </div>
        <div class="row my-2">
         <%= bootstrap_form_with(model: land) do |form| %>
          <% if land.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(land.errors.count, "error") %> prohibited this land from being saved:</h2>

              <ul>
                <% land.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

            <div>
              <%= form.text_field :title_land, label: "Titulo" %>
              <%= form.file_field :images, multiple: true %>  
              <%= form.text_field :description, label: :description %>
             
              <%= form.collection_select :province_id, Province.order(:province_name), :id, :province_name, { label: "Provincia"}  %>
                
              <%= form.fields_for :address do |address_form| %>
                <%= address_form.collection_select :city_id, City.order(:city_name), :id, :city_name, { label: "Municipio/Cidade"}  %>
                <%= address_form.text_field :street, label: :street%>
              <% end %> 
              <div class="row">
                <%= form.fields_for :dimention do |dimention_form| %>
                  <div class="col">
                    <%= dimention_form.number_field :width_d, label: "Width"%>
                  </div>
                  <div class="col">
                    <%= dimention_form.number_field :height_d, label: "Height"%>
                  </div>
                <% end %> 
              </div>

              <%= form.number_field :price %>
              <%= form.hidden_field :user_id, readonly: true , value: current_user.id if user_signed_in?%>
            </div>

            <div class="mb-3 d-grid gap-2">
              <%= form.submit class: "btn btn-info" %>
            </div>
          <% end %>

        </div>
    </div>
  </div>




 
