<div id="<%= dom_id land %>">
  <p>
    <strong>Title land:</strong>
    <%= land.title_land %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag(land.photos) if land.photos.attached? %>
    <%= link_to land.photos.filename, land.photos if land.photos.attached? %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= land.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= land.price %>
  </p>

  <p>
    <strong>Dimention:</strong>
    <%= land.dimention_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= land.address_id %>
  </p>

</div>
