 <div class="container col-lg-6 my-4">
    <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
        <div class="card-title">
            <h4 class="text-center text-pink">Create house</h4>
        </div>
        <div class="row my-2">
                  
          <%= bootstrap_form_with(model: house) do |form| %>
            <% if house.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

                <ul>
                  <% house.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              
              
              <%= form.number_field :title, label: :title %>
              <%= form.file_field :images, multiple: true %> 
              
              <div class="row">
                <div class="col"> 
                    <%= form.select :condition, House.conditions, {label: :condition} %>
                </div>
                <div class="col"> 
                  <%= form.select :tipology, House.tipologies, {label: :tipology}%>        
                </div>
              </div>
             
              <%= form.select :type_negotiation, House.type_negotiations, {label: :type_negotiation} %>
             
              <div class="row">
                <div class="col">
                  <%= form.number_field :living_room, label: :living_room %> 
                </div>
                <div class="col"> 
                    <%= form.number_field :room, label: :room%>
                </div>
                <div class="col"> 
                   <%= form.number_field :kitchen, label: :kitchen %>
                </div>
                <div class="col"> 
                   <%= form.number_field :balcony, label: :balcony %> 
                </div>
              </div>
          
              <div class="row">
                <div class="col">
                   <%= form.number_field :bath_room, label: :bath_room %>
                </div>
                <div class="col">
                  <%= form.number_field :yeard, label: :yeard %>
                </div>
                <div class="col">
                   <%= form.number_field :garage, label: :garage %>
                </div>
                <div class="col">
                    <%= form.number_field :pool, label: :pool %>
                </div>
              </div>
              
              <%= form.select :next_by, House.next_bies, {label: :next_by}%>
              <%= form.check_box :furnished, label: :furnished %>
              <%= form.select :property_type, House.property_types, {label: :property_type} %>

              <%= form.collection_select :province_id, Province.order(:province_name), :id, :province_name, { label: "Provincia"}  %>
                
              <%= form.fields_for :address do |address_form| %>
                <%= address_form.collection_select :city_id, City.order(:city_name), :id, :city_name, { label: "Municipio/Cidade"}  %>
                <%= address_form.text_field :street, label: :street%>
              <% end %> 
              <div class="row">
                <p class="text-center">Dimention</p>
                <%= form.fields_for :dimention do |dimention_form| %>
                  <div class="col">
                    <%= dimention_form.number_field :width_d, label: "Width"%>
                  </div>
                  <div class="col">
                    <%= dimention_form.number_field :height_d, label: "Height"%>
                  </div>
                <% end %> 
              </div>

              <div class="row">
                <p class="text-center">Geografic Location</p>
                <%= form.fields_for :location do |location_form| %>
                  <div class="col">
                    <%= location_form.number_field :latitude, label: "Width"%>
                  </div>
                  <div class="col">
                    <%= location_form.number_field :longitude, label: "Height"%>
                  </div>
                <% end %> 
              </div>

              <%= form.number_field :price, label: :price %>
              <%= form.text_area :description, label: :description, size: "70x5" %>
            
            <div class="mb-3 d-grid gap-2">
              <%= form.submit class: "btn btn-info" %>
            </div>
          <% end %>

        </div>
    </div>
  </div>

