<div id="<%= dom_id house %>">
  <p>
    <strong>Room:</strong>
    <%= house.room %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= house.title %>
  </p>

  <p>
    <strong>Living room:</strong>
    <%= house.living_room %>
  </p>

  <p>
    <strong>Bath room:</strong>
    <%= house.bath_room %>
  </p>

  <p>
    <strong>Yeard:</strong>
    <%= house.yeard %>
  </p>

  <p>
    <strong>Kitchen:</strong>
    <%= house.kitchen %>
  </p>

  <p>
    <strong>Balcony:</strong>
    <%= house.balcony %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= house.condition %>
  </p>

  <p>
    <strong>Type negotiation:</strong>
    <%= house.type_negotiation %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= house.price %>
  </p>

  <p>
    <strong>Garage:</strong>
    <%= house.garage %>
  </p>

  <p>
    <strong>Pool:</strong>
    <%= house.pool %>
  </p>

  <p>
    <strong>Discription:</strong>
    <%= house.discription %>
  </p>

  <p>
    <strong>Tipology:</strong>
    <%= house.tipology %>
  </p>

  <p>
    <strong>Next by:</strong>
    <%= house.next_by %>
  </p>

  <p>
    <strong>Furnished:</strong>
    <%= house.furnished %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= house.property_type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= house.location_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= house.address_id %>
  </p>

  <p>
    <strong>Dimention:</strong>
    <%= house.dimention_id %>
  </p>

</div>
