  <%= link_to house, class: "link-offset-2 link-underline link-underline-opacity-0" do %>
      
    <div class="col" id="<%= dom_id house %>">
      <div class="card border-light shadow-sm mb-5 bg-body-tertiary rounded">
      

          <% if house.house_images.attached? %>
            <%= render "images_index", images: house.house_images %>
          <% end %>
      

        <div class="card-body">
          <p class="card-text">

            <strong class="text-pink"><%= house.title %>, <%= house.tipology %></strong> <br>
        
            <p class="text-description">
              <%=  house.description %>
            </p>
              <span class="bg-green px-3">Venda</span> <br>
              <%= house.price %>
          </p>

        </div>
      </div>
    </div>
  <% end %>