<p style="color: green"><%= notice %></p>

<%= render @favorite_land %>

<div>
  <%= link_to "Edit this favorite land", edit_favorite_land_path(@favorite_land) %> |
  <%= link_to "Back to favorite lands", favorite_lands_path %>

  <%= button_to "Destroy this favorite land", @favorite_land, method: :delete %>
</div>
