<%= form_with(model: plans_selected) do |form| %>
  <% if plans_selected.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plans_selected.errors.count, "error") %> prohibited this plans_selected from being saved:</h2>

      <ul>
        <% plans_selected.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :day_used, style: "display: block" %>
    <%= form.number_field :day_used %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :plans_id, style: "display: block" %>
    <%= form.text_field :plans_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
