<div id="<%= dom_id plans_selected %>">
  <p>
    <strong>Day used:</strong>
    <%= plans_selected.day_used %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= plans_selected.duration %>
  </p>

  <p>
    <strong>Plans:</strong>
    <%= plans_selected.plans_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= plans_selected.user_id %>
  </p>

</div>
