<div id="<%= dom_id plans_selected %>">
  <p>
    <strong>Day used:</strong>
    <%= plans_selected.day_used %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= plans_selected.duration %>
  </p>

  <p>
    <strong>Plans:</strong>
    <%= plans_selected.plan_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= plans_selected.user_id %>
  </p>

  <p>
    Activated:
    <%= plans_selected.activated %>
  </p>

  <p>
    <strong>First time:</strong>
    <%= plans_selected.first_time %>
  </p>
</div>
