<div id="<%= dom_id contact %>">
  <p>
    <strong>Cliente name:</strong>
    <%= contact.cliente_name %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= contact.whatsapp %>
  </p>

  <p>
    <strong>Email cliente:</strong>
    <%= contact.email_cliente %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= contact.message %>
  </p>

</div>
