<%= bootstrap_form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :cliente_name %>
    <%= form.text_field :whatsapp %>
    <%= form.text_field :email_cliente %>
    <%= form.text_field :message %>

   <div class="d-grid gap-2">
     <%= form.submit  t("links.send"), class: "btn btn-pink" %>
   </div>
<% end %>
