<div id="<%= dom_id plan %>">
  <p>
    <strong>Name plans:</strong>
    <%= plan.name_plans %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= plan.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

  <p>
    <strong>Activated:</strong>
    <%= plan.activated %>
  </p>

  <p>
    <strong>First time:</strong>
    <%= plan.first_time %>
  </p>

</div>
