
  <div class="col" id="<%= dom_id plan %>">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center"><%= plan.name_plans %></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-center text-pink"><%= plan.price %><small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= plan.description %></li>
          <br>
         
        </ul>
         <p>
          Activated:
          <%= plan.activated %>
        </p>

        <p>
          <strong>First time:</strong>
          <%= plan.first_time %>
        </p>
        <div>
          <%= link_to "Show this plan", plan , class:"w-100 btn btn-lg btn-pink mb-2"%>
        </div>
     
      </div>
    </div>
  </div>

