  <header class="p-3 border-bottom">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li> <%= link_to "Inicio", root_path, class: "nav-link px-2 text-pink fs-5" %> </li>
          <li><%= link_to "Imoveis", houses_path, class: "nav-link px-2 text-pink fs-5 house"%></li>
          <li><a href="#" class="nav-link px-2 text-pink fs-5">Arrendar</a></li>
          <li><a href="#" class="nav-link px-2 text-pink fs-5 ">Comprar</a></li>
          <li> <%= link_to "Terrenos", lands_path, class: "nav-link px-2 text-pink fs-5 land" %> </li>
        </ul>

        <%= link_to "Criar conta", new_user_registration_path, class: "btn btn-pink ms-1" if !user_signed_in?%> 
           <%= link_to "Entrar", user_session_path, class: "btn btn-info ms-1" if !user_signed_in?%> 
         
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-pink">
              <% if user_signed_in? %>
                <%= current_user.email %>
              <% end %>
            </span>
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle ms-2"></a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <% if user_signed_in? %>
             <li> <%= link_to "Perfil", new_profile_path, class: "dropdown-item"%> </li>
            <li> 
              <%= link_to "Segurança", edit_user_registration_path, 
              class: "dropdown-item"%> 
              <%= link_to "Terrenos favoritos", favorite_lands_path, 
              class: "dropdown-item"%> 
            </li>
            <li> 
              <%= link_to "Sair", destroy_user_session_path,  method: :delete, 
                class: "dropdown-item" %> 
            </li>
          <% end %>

          <% if !user_signed_in? %>
            
            <li> <%= link_to "Entrar", user_session_path, class: "dropdown-item" %> </li>
         
          <% end %>
            
          </ul>
        </div>
      </div>
      <!-- Lands -->
        <ul class="nav justify-content-start land" id="sub-menu-land">
          <li class="nav-item">
            <%= link_to "Novo terreno", new_land_path, class: "nav-link px-2 text-pink fs-5" %>
          </li>
          <li class="nav-item">
              <%= link_to "Visualizar terrenos", lands_path, class: "nav-link px-2 text-pink fs-5" %>
          </li>
          <li class="nav-item">
              <%= link_to "Meus terrenos postados", profile_lands_path, class: "nav-link px-2 text-pink fs-5" %>
          </li>
        </ul>
        <!-- End Lands --->

        <!-- Houses -->
        <ul class="nav justify-content-start house" id="sub-menu-house">
          <li class="nav-item">
            <%= link_to "Novo imovel", new_house_path, class: "nav-link px-2 text-pink fs-5" %>
          </li>
          <li class="nav-item">
              <%= link_to "Visualizar imoveis", houses_path, class: "nav-link px-2 text-pink fs-5" %>
          </li>
          <li class="nav-item">
              <%= link_to "Meus imoveis postados", houses_path, class: "nav-link px-2 text-pink fs-5" %>
          </li>
        </ul>
        <!-- end houses-->
    </div>
</header>
